@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#eeebe5;
}

.style-link {
  text-decoration: none;
  background-image: linear-gradient(#e42313, #e42313);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 1px;
}

.style-link:hover {
  background-size: 100% 1px;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .col-md-lg-15 {
    flex: 0 0 auto;
    flex-basis: 62.5vw;
    width: 62.5vw;
    max-width: 1050px; }
  
  .footer__links-item {
    margin-bottom: 0;
    display: inline-block; } 
  }

  .col-md-lg-5 {
      flex: 0 0 auto;
      flex-basis: 20.83333vw;
      width: 20.83333vw;
      max-width: 350px;
  }

  .bgWrap {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
  }
  
  .bgText {
    position: absolute;
    top: 175px;
    left: 32px;
  }

  .bgSubtext {
    max-width: 52ch;
    position: absolute;
    top: 275px;
    left: 32px;
  }

  .black-glassmorphism {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 2000;
    width: 100%;
    padding: 15px 32px;
    border-bottom: 1px solid hsla(0,0%,100%,.08);
  }


@tailwind base;
@tailwind components;
@tailwind utilities;